<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>#<%= channel %> — GameToSpeech</title>
</head>

<body>
    <h1>#<%= channel %></h1>
    <p id="status">You are not yet connected.</p>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var gamesLib = {};
        var socket = io('/<%= channel %>');
        socket.on('connect', () => {
            console.log('connect');
            document.getElementById('status').innerHTML = 'You are connected to channel <%= channel %>.';
        });
        socket.on('disconnect', () => {
            console.log('disconnect');
            document.getElementById('status').innerHTML = 'You have been disconected.';
        });
        socket.on('message', data => {
            console.log(data);
            if (gamesLib[data.game] == undefined){
                gamesLib[data.game] = {};
                gamesLib[data.game].script = document.createElement('script');
                gamesLib[data.game].script.src = "/"+data.game+".js";
                gamesLib[data.game].script.type = "text/javascript";
                document.getElementsByTagName('head').item(0).appendChild(gamesLib[data.game].script);
                
                console.log("Loading "+data.game+".js");

                gamesLib[data.game].script.onload = function () {
                    console.log("Loaded "+data.game+".js");
                };
            }
            var description = gamesLib[data.game].transformDataToDescription(data);
            if(description){
                speak(description, 'Alex');
            }
            switch (data.category) {
                case 'dialog':
                    speak(data.value, 'Samantha');
                    break;
                case 'health':
                    speak(data.value + " health points", 'Alex');
                    break;
                case 'raw':
                    speak(data.value, 'Alex');
                    break;
            }
        });

        // text-to-speech
        var synth = window.speechSynthesis;
        var voices = synth.getVoices();
        var engVoices = [];
        for (v in voices) {
            if (voices[v]['lang'].split('-')[0] == 'en') {
                engVoices[voices[v]['name']] = voices[v];
            }
        }
        console.log(engVoices);

        function speak(text, voiceName) {
            if (synth.speaking) {
                console.error('speechSynthesis.speaking');
                return;
            }
            if (text !== '') {
                var utterThis = new SpeechSynthesisUtterance(text);
                utterThis.onend = function(event) {
                    console.log('SpeechSynthesisUtterance.onend');
                }
                utterThis.onerror = function(event) {
                    console.error('SpeechSynthesisUtterance.onerror');
                }
                if (engVoices[voiceName]) {
                    utterThis.voice = engVoices[voiceName];
                }
                utterThis.pitch = 1;
                utterThis.rate = 1.25;
                synth.speak(utterThis);
            }
        }
    </script>
</body>

</html>