<h1>Profile</h1>
<h2>Personnal information</h2>
<p>
ID: <%= user.id %><br/>
Username: <%= user.username %><br/>
Name: <%= user.displayName %><br/>
<% if (user.emails) { %>
Email: <%= user.emails[0].value %><br/>
<% } %>
</p>
<h2>Login key</h2>
<p>
<% if (user.login_key) { %>
Login key: <%= user.login_key.value %> (expired at: <%= user.login_key.expired_at %>) <a href="/delete_login_key">Remove</a><br/>
<% } else { %>
<a href="/new_login_key">Create login key</a><br/>
<% } %>
<p/>
<h2>Games connected</h2>
<p>
<% if (user.connected_to.length > 0) { %>
    <% user.connected_to.forEach(function(connected_to){ %>
        Connected to: <%= connected_to.game %> (access token: <%= connected_to.access_token %>) <a href="/delete_connected_game?access_token=<%= connected_to.access_token %>">Remove</a><br/>
    <% }); %>
<% } else { %>
  None.
<% } %>
</p>
<a href="/logout">Log out</a>